<div class="actions end">
  <button class="btn" (click)="changePopup('createRuleForm', true)">
    <span>Add new rule</span>
  </button>
</div>

<div
  class="overlay"
  [ngClass]="{
    active: popup.createRuleForm == true || popup.updateRuleForm == true
  }"
>
  <div
    class="popup"
    [ngClass]="{
      active: popup.createRuleForm == true || popup.updateRuleForm == true
    }"
  >
    <div class="catform d-flex mb-2 align-start justify-center">
      <div
        class="icon"
        *ngIf="popup.createRuleForm == true"
        (click)="changePopup('createRuleForm', false)"
      >
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 212.982 212.982"
          style="enable-background:new 0 0 212.982 212.982;"
          xml:space="preserve"
        >
          <g id="Close">
            <path
              style="fill-rule:evenodd;clip-rule:evenodd;"
              d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                     c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                     l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                     c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"
            />
          </g>
        </svg>
      </div>

      <div
        class="icon"
        *ngIf="popup.updateRuleForm == true"
        (click)="changePopup('updateRuleForm', false)"
      >
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 212.982 212.982"
          style="enable-background:new 0 0 212.982 212.982;"
          xml:space="preserve"
        >
          <g id="Close">
            <path
              style="fill-rule:evenodd;clip-rule:evenodd;"
              d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                     c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                     l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                     c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"
            />
          </g>
        </svg>
      </div>

      <form [formGroup]="createRuleForm">
        <div class="relative-box">
          <div class="input-group select-group mb-2">
            <label>Select Category</label>
            <div class="input">
              <select
                formControlName="selector"
                (change)="onChangeOrderVariable($event)"
              >
                <optgroup
                  *ngFor="let dataItem of dataList; let i = index"
                  [label]="dataItem.title"
                >
                  <option
                    *ngFor="let item of dataItem.subItems; let i = index"
                    value="{{ item.value }}"
                  >
                    {{ item.title }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('selector').dirty ||
                createRuleForm.get('selector').touched) &&
              createRuleForm.get('selector').errors
            "
            class="invalid"
          >
            <div *ngIf="createRuleForm.controls.selector.errors.required">
              Category is required
            </div>
          </div>
        </div>

        <div class="group">
          <div class="relative-box">
            <div
              class="input-group select-group  mb-2"
              *ngIf="compTypes.length != 0"
            >
              <label>Comparision Type</label>
              <div class="input">
                <select formControlName="compType">
                  <option
                    *ngFor="let dataType of compTypes; let i = index"
                    value="{{ dataType.id }}"
                  >
                    {{ dataType.title }}</option
                  >
                </select>
              </div>
            </div>
            <div
              *ngIf="
                (createRuleForm.get('compType').dirty ||
                  createRuleForm.get('compType').touched) &&
                createRuleForm.get('compType').errors
              "
              class="invalid"
            >
              <div *ngIf="createRuleForm.controls.compType.errors.required">
                Category is required
              </div>
            </div>
          </div>
          <div
            class="comp-line"
            [ngClass]="{
              'd-flex': createRuleForm.controls.compType.value == 'bt'
            }"
          >
            <div
              class="relative-box mb-2"
              *ngIf="
                createRuleForm.controls.compType.value == 'gt' ||
                createRuleForm.controls.compType.value == 'eq' ||
                (createRuleForm.controls.compType.value == 'bt' &&
                  createRuleForm.controls.compDataType.value == 'number')
              "
              [ngClass]="{
                'w-50': createRuleForm.controls.compType.value == 'bt'
              }"
            >
              <div class="input-group">
                <label *ngIf="createRuleForm.controls.compType.value == 'gt'"
                  >Greater than</label
                >
                <label *ngIf="createRuleForm.controls.compType.value == 'bt'"
                  >In between</label
                >
                <label *ngIf="createRuleForm.controls.compType.value == 'eq'"
                  >Is equals to</label
                >
                <div class="input">
                  <input
                    type="text"
                    *ngIf="
                      (createRuleForm.controls.compType.value == 'gt' ||
                        createRuleForm.controls.compType.value == 'eq' ||
                        createRuleForm.controls.compType.value == 'bt') &&
                      createRuleForm.controls.compDataType.value == 'number'
                    "
                    formControlName="compMin"
                  />

                  <input
                    type="text"
                    *ngIf="
                      createRuleForm.controls.compType.value == 'eq' &&
                      createRuleForm.controls.compDataType.value == 'string'
                    "
                    formControlName="compText"
                  />
                </div>
              </div>
              <div
                *ngIf="
                  (createRuleForm.get('compMin').dirty ||
                    createRuleForm.get('compMin').touched) &&
                  createRuleForm.get('compMin').errors
                "
                class="invalid"
              >
                <div *ngIf="createRuleForm.controls.compMin.errors.pattern">
                  Only Numbers Allowed
                </div>
              </div>
            </div>
            <div
              class="relative-box mb-2"
              *ngIf="
                (createRuleForm.controls.compType.value == 'lt' ||
                  createRuleForm.controls.compType.value == 'bt') &&
                createRuleForm.controls.compDataType.value == 'number'
              "
              [ngClass]="{
                'w-50': createRuleForm.controls.compType.value == 'bt'
              }"
            >
              <div class="input-group">
                <label *ngIf="createRuleForm.controls.compType.value == 'lt'"
                  >Less Than</label
                >
                <label
                  *ngIf="createRuleForm.controls.compType.value == 'bt'"
                  [ngClass]="{
                    'text-center':
                      createRuleForm.controls.compType.value == 'bt'
                  }"
                  >And</label
                >
                <div class="input">
                  <input type="text" formControlName="compMax" />
                </div>
              </div>
              <div
                *ngIf="
                  (createRuleForm.get('compMax').dirty ||
                    createRuleForm.get('compMax').touched) &&
                  createRuleForm.get('compMax').errors
                "
                class="invalid"
              >
                <div *ngIf="createRuleForm.controls.compMax.errors.pattern">
                  Only Numbers Allowed
                </div>
              </div>
            </div>
            <div
              class="relative-box mb-2"
              *ngIf="createRuleForm.controls.compType.value == 'includes'"
            >
              <div class="input-group">
                <label>Includes</label>
                <div class="input">
                  <input type="text" formControlName="compText" />
                </div>
              </div>
              <div
                *ngIf="
                  (createRuleForm.get('compText').dirty ||
                    createRuleForm.get('compText').touched) &&
                  createRuleForm.get('compText').errors
                "
                class="invalid"
              >
                <div *ngIf="createRuleForm.controls.compText.errors.required">
                  Value required
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="relative-box mb-2"
          *ngIf="createRuleForm.value.item.isEditable"
        >
          <div class="input-group radio-group">
            <label class="input">
              <input
                type="radio"
                formControlName="tagType"
                value="static"
                (change)="onTagTypeChange()"
              />
              <span>Static</span>
            </label>
            <label class="input">
              <input
                type="radio"
                formControlName="tagType"
                value="dynamic"
                (change)="onTagTypeChange()"
              />
              <span>Dynamic</span>
            </label>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('tagType').dirty ||
                createRuleForm.get('tagType').touched) &&
              createRuleForm.get('tagType').errors
            "
            class="invalid"
          >
            <div *ngIf="createRuleForm.controls.tagType.errors.required">
              Tag type required
            </div>
          </div>
        </div>

        <div class="relative-box" *ngIf="createRuleForm.value.item.isEditable">
          <div
            class="input-group select-group mb-2"
            *ngIf="createRuleForm.controls.tagType.value == 'dynamic'"
          >
            <label>Select Category</label>
            <div class="input">
              <select
                formControlName="dynamicSelector"
                (change)="onChangeDynamicValue($event)"
              >
                <optgroup
                  *ngFor="let dataItem of dataList; let i = index"
                  [label]="dataItem.title"
                >
                  <option
                    *ngFor="let item of dataItem.subItems; let i = index"
                    value="{{ item.value }}"
                  >
                    {{ item.title }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('dynamicSelector').dirty ||
                createRuleForm.get('dynamicSelector').touched) &&
              createRuleForm.get('dynamicSelector').errors
            "
            class="invalid"
          >
            <div
              *ngIf="createRuleForm.controls.dynamicSelector.errors.required"
            >
              Category is required
            </div>
          </div>
        </div>

        <div
          class="relative-box"
          *ngIf="
            createRuleForm.value.item.isEditable &&
            createRuleForm.value.tagType == 'static'
          "
        >
          <div class="input-group mb-2">
            <label>Tag</label>
            <div class="input">
              <input type="text" formControlName="tagValue" />
            </div>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('tagValue').dirty ||
                createRuleForm.get('tagValue').touched) &&
              createRuleForm.get('tagValue').errors
            "
            class="invalid"
          >
            <div *ngIf="createRuleForm.controls.tagValue.errors.required">
              Tag is required
            </div>
          </div>
        </div>

        <div
          class="relative-box"
          *ngIf="createRuleForm.value.tagType == 'dynamic'"
        >
          <div class="input-group mb-2">
            <label>Tag Prefix</label>
            <div class="input">
              <input type="text" formControlName="tagPrefix" />
            </div>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('tagPrefix').dirty ||
                createRuleForm.get('tagPrefix').touched) &&
              createRuleForm.get('tagPrefix').errors
            "
            class="invalid"
          >
            <div *ngIf="createRuleForm.controls.tagPrefix.errors.required">
              Tag is required
            </div>
          </div>
        </div>

        <div
          class="relative-box"
          *ngIf="createRuleForm.value.tagType == 'dynamic'"
        >
          <div class="input-group mb-2">
            <label>Tag Suffix</label>
            <div class="input">
              <input type="text" formControlName="tagSuffix" />
            </div>
          </div>
          <div
            *ngIf="
              (createRuleForm.get('tagSuffix').dirty ||
                createRuleForm.get('tagSuffix').touched) &&
              createRuleForm.get('tagSuffix').errors
            "
            class="invalid"
          >
            <div *ngIf="createRuleForm.controls.tagSuffix.errors.required">
              Tag is required
            </div>
          </div>
        </div>
      </form>

      <button
        *ngIf="popup.createRuleForm"
        class="btn"
        (click)="createForm('createRuleForm', 'add')"
      >
        <span>Create Rule</span>
      </button>
      <button
        *ngIf="popup.updateRuleForm"
        class="btn"
        (click)="createForm('createRuleForm', 'update')"
      >
        <span>Update Rule</span>
      </button>
    </div>
  </div>
</div>

<div class="main-title">
  <h2>Created Rules</h2>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="tagRules">
  <div class="no-data" *ngIf="tagRules.length == 0">
    You have not created any rule yet
  </div>
  <div *ngIf="tagRules.length > 0">
    <ul class="tag-rules" *ngIf="!loading">
      <li *ngFor="let rule of tagRules">
        <div class="d-flex align-center justify-between w-100">
          <span class="rule-title">{{ rule.item.title }}</span>
          <button class="btn remove" (click)="removeRule(rule._id)">
            <span>Delete</span>
          </button>
          <button class="btn" (click)="editRule(rule)">
            <span>Edit</span>
          </button>
        </div>
        <div class="w-100 d-flex">
          <span class="mr-1">If value </span>
          <span *ngIf="rule.compType == 'lt'">
            <span class="mr-1 fw-400">less than</span>
            <span class=" mr-1 fw-400">{{ rule.compValue.compMax }}</span>
          </span>
          <span *ngIf="rule.compType == 'gt'">
            <span class="mr-1 fw-400">greater than</span>
            <span class=" mr-1 fw-400">{{ rule.compValue.compMin }}</span>
          </span>
          <span *ngIf="rule.compType == 'eq'">
            <span class="mr-1 fw-400">equals to </span>
            <span class=" mr-1 fw-400" *ngIf="rule.compDataType == 'number'">{{
              rule.compValue.compEqauls
            }}</span>
            <span class="mr-1 fw-400" *ngIf="rule.compDataType == 'string'">{{
              rule.compValue.compText
            }}</span>
          </span>
          <span *ngIf="rule.compType == 'includes'">
            <span class="mr-1 fw-400">includes </span>
            <span class=" mr-1 fw-400" *ngIf="rule.compDataType == 'string'">{{
              rule.compValue.compText
            }}</span>
          </span>
          <span *ngIf="rule.compType == 'bt'">
            <span class="mr-1 fw-400">Between</span>
            <span class=" mr-1 fw-400">{{ rule.compValue.compMin }}</span>
            <span class="mr-1 fw-400">and</span>
            <span class=" mr-1 fw-400">{{ rule.compValue.compMax }}</span>
          </span>
          <span class="mr-1">create tag</span>
          <span class="mr-1 fw-400" *ngIf="rule.tagType == 'static'">{{
            rule.tagValue
          }}</span>
          <span class="mr-1 fw-400" *ngIf="rule.tagType == 'dynamic'">
            [{{ rule.dynamicSelector }}]
          </span>
          <span *ngIf="rule.tagPrefix && !rule.tagSuffix">
            <span class="mr-1">with prefix</span>
            <span class="mr-1 fw-400">{{ rule.tagPrefix }}</span>
          </span>
          <span *ngIf="rule.tagSuffix && !rule.tagPrefix">
            <span class="mr-1">with suffix</span>
            <span class="mr-1 fw-400">{{ rule.tagSuffix }}</span>
          </span>
          <span *ngIf="rule.tagPrefix && rule.tagSuffix">
            <span class="mr-1">with prefix</span>
            <span class="mr-1 fw-400">{{ rule.tagPrefix }}</span>
            <span class="mr-1">and suffix</span>
            <span class="mr-1 fw-400">{{ rule.tagSuffix }}</span>
          </span>
        </div>
        <div class="w-100 d-flex">
          <div class="tag-preview">
            <span class="tag" draggable="true">
              <span>{{ rule.tagPrefix }}</span>
              <span *ngIf="rule.tagType == 'static'">{{ rule.tagValue }}</span>
              <span class="" *ngIf="rule.tagType == 'dynamic'">
                [{{ rule.dynamicSelector }}]
              </span>
              <span>{{ rule.tagSuffix }}</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div
  class="popup-wrapper overlay demo-popup"
  [ngClass]="{ active: askForHelpPopup }"
>
  <div class="popup" [ngClass]="{ active: askForHelpPopup }">
    <div class="popup-title ">
      <h3>Anytime, If you have any problem</h3>
    </div>
    <div class="popup-body">
      <h5 class="mb-20">
        Contact our support team by clicking right bottom cornor chat button
      </h5>
      <div class="image">
        <img src="assets/chat.png" alt="" />
      </div>
    </div>
    <div class="popup-actions">
      <button class="btn" (click)="closeAskForHelpPopup()">
        <span>Close</span>
      </button>
    </div>
  </div>
</div>

